---
import SectionBar from "../SectionBar.astro";
---
<section data-page="/about" class="min-h-screen">
	<SectionBar title="About" class="bg-violet-400" />
	<div class="flex items-center justify-center min-h-[calc(100vh-4.5rem)]">
		<h2 class="text-4xl">About</h2>
	</div>
</section>
