---
import SectionBar from "../SectionBar.astro";
---
<section data-page="/" class="min-h-screen">
	<SectionBar title="Home" class="bg-sky-300" />
	<div class="flex items-center justify-center min-h-[calc(100vh-4.5rem)] px-8">
		<h1 class="text-8xl text-center max-w-fit text-balance leading-tight mx-6">
			<span class="font-fraunces font-bold">Crspy</span>
			<img src="/avatar.png" alt="" class="inline-block align-middle h-[1em] w-[1em] rounded-md mx-2" />
			<span class="-ms-6">, a fullstack web developer interested in cybersecurity.</span>
		</h1>
	</div>
</section>
