---
import SectionBar from "../SectionBar.astro";
---
<section data-page="/" class="min-h-screen">
	<SectionBar title="Home" class="bg-sky-300" />
	<div class="flex items-center justify-center min-h-[calc(100vh-4.5rem)]">
		<h1 class="text-4xl">Hero</h1>
	</div>
</section>
