---
import ScrollLayout from "../layouts/ScrollLayout.astro";
---
<ScrollLayout>
	<Fragment slot="head">
		<title>crspy.me</title>
		<meta name="description" content="About crspy." />
	</Fragment>
</ScrollLayout>
