@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=chillax@500&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Moranga";
  src:local("Moranga-Black");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/moranga/Black.ttf");
}

@font-face {
  font-family: "Moranga";
  src:local("Moranga-Regular");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/moranga/Regular.ttf");
}

@font-face {
  font-family: "Moranga";
  src:local("Moranga-Light-Italic");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("./assets/fonts/moranga/Light-italic.ttf");
}

:root {
  @apply bg-slate-950
}

button {
  @apply cursor-pointer;
}

.font-moranga {
  @apply font-['Moranga']
}

.font-chillax {
  @apply font-['Chillax']
}

.font-poppins {
  @apply font-['Poppins']
}

