---
import Layout from "./Layout.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Projects from "../components/sections/Projects.astro";
---
<Layout>
	<slot name="head" slot="head" />
	<main>
		<Hero />
		<About />
		<Projects />
	</main>
	<script>
		import "../scripts/scroll-router.ts";
	</script>
</Layout>
